<h1>Listing wikis</h1>

<table>
  <tr>
    <th>Publishdate</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wikis.each do |wiki| %>
  <tr>
    <td><%= wiki.publishdate %></td>
    <td><%= wiki.title %></td>
    <td><%= wiki.content %></td>
    <td><%= link_to 'Show', wiki %></td>
    <td><%= link_to 'Edit', edit_wiki_path(wiki) %></td>
    <td><%= link_to 'Destroy', wiki, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wiki', new_wiki_path %>
