<h1>Listing wiki records</h1>

<table width="100%">
  <tr>
    <th>Publishdate</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wikis.each do |wiki| %>
  <tr>
    <td><%= wiki.publishdate %></td>
    <td><%=  link_to wiki.title, wiki %></td>
    <td><%= link_to 'Show', wiki %></td>
    <td><%= link_to 'Edit', edit_wiki_path(wiki) %></td>
    <td><%= link_to 'Destroy', wiki, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wiki Record', new_wiki_path %>
