<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :publishdate %><br />
    <%= f.date_select :publishdate %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :privatecontent %><br />
    <%= f.text_area :privatecontent %>
  </div>
  <div class="field">
    <%= f.label :wakeuptime %><br />
    <%= f.time_select :wakeuptime %>
  </div>
  <div class="field">
    <%= f.label :wentsleeptime %><br />
    <%= f.time_select :wentsleeptime %>
  </div>
  <div class="field">
    <%= f.label :negotiations %><br />
    <%= f.text_field :negotiations %>
  </div>
  <div class="field">
    <%= f.label :efficiencies %><br />
    <%= f.text_field :efficiencies %>
  </div>
  <div class="field">
    <%= f.label :pullups %><br />
    <%= f.text_field :pullups %>
  </div>
  <div class="field">
    <%= f.label :squatting %><br />
    <%= f.text_field :squatting %>
  </div>
  <div class="field">
    <%= f.label :gymvisit %><br />
    <%= f.check_box :gymvisit %>
  </div>
  <div class="field">
    <%= f.label :planfulfilled %><br />
    <%= f.text_field :planfulfilled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
