 <h1> Listing posts</h1>
<hr>

<% @posts.each do |post| %>
<h2>
<%= link_to post.title, post %>
</h2>

Author:<%= post.name %>, <strong><%= post.publishdate %></strong>
<br>
<div class="content">
<%= raw textilize(post.content) %>
</div>

<div class="resulttable">
  <table border=1>
  <tr>
    <th>Wakeuptime</th>
    <th>Wentsleeptime</th>
    <th>Negotiations</th>
    <th>Efficiencies</th>
    <th>Pull-ups</th>
    <th>Squatting</th>
    <th>Gym</th>
    <th>Impuls</th>
    <th>PlanFill</th>
  </tr>
  <tr>
    <td><%= "#{post.wakeuptime.hour}:#{post.wakeuptime.min}" %></td>
    <td><%= "#{post.wentsleeptime.hour}:#{post.wentsleeptime.min}" %> </td>
    <td align="center"><%= post.negotiations %></td>
    <td align="center"><%= post.efficiencies %></td>
    <td align="center"><%= post.pullups %></td>
    <td align="center"><%= post.squatting %></td>
    <td align="center"><%= post.gymvisit %></td>
    <td align="center"><%= post.goltisimpuls %></td>
    <td align="center"><%= post.planfulfilled %></td>
  </tr>
  </table>
</div> <!--resulttable-->

<div style="float:right">
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
</div>
<hr class="list">
<% end %>

<a href="/rss"><img src="/banners/rss-reader.png" alt="RSS for my Blog" title="RSS for my Blog" ></a>
<br />

<%= link_to 'New Post', new_post_path %> <a href="/"> Main page </a>
