<h1>Listing posts</h1>


<% @posts.each do |post| %>
<h2>
    <%= post.title %>
<%= link_to 'Show', post %>
</h2>

<%= post.name %>:<%= post.publishdate %>
<br>
<%= post.content %>
<table border=1>

  <tr>
    <th>Wakeuptime</th>
    <th>Wentsleeptime</th>
    <th>Negotiations</th>
    <th>Efficiencies</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<tr>
    <td><%= "#{post.wakeuptime.hour}:#{post.wakeuptime.min}" %></td>
    <td><%= "#{post.wentsleeptime.hour}:#{post.wentsleeptime.min}" %> </td>
    <td align="center"><%= post.negotiations %></td>
    <td align="center"><%= post.efficiencies %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
</table>
<% end %>

<br />

<%= link_to 'New Post', new_post_path %>
