<p id="notice"><%= notice %></p>

<p>
  <b>Publishdate:</b>
  <%= @post.publishdate %>
</p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Title:</b>
 <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= raw RedCloth.new(@post.content).to_html %>
</p>

<table>
  <tr>                                                                                                                          
    <th>Wakeuptime</th>                                                                                                         
    <th>Wentsleeptime</th>                                                                                                      
    <th>Negotiations</th>                                                                                                       
    <th>Efficiencies</th>
    <th>Pullups</th>
    <th>Squatting</th>
  </tr>                                                                                                                         
                                                                                                                                
                                                                                                                                
  <tr>                                                                                                                            
    <td><%= "#{@post.wakeuptime.hour}:#{@post.wakeuptime.min}" %></td>
    <td><%= "#{@post.wentsleeptime.hour}:#{@post.wentsleeptime.min}" %></td>
    <td align="center"><%= @post.negotiations %></td>
    <td align="center"><%= @post.efficiencies %></td>                                                                         
    <td align="center"><%= @post.pullups %></td>                                                                         
    <td align="center"><%= @post.squatting %></td>                                                                         

  </tr>   
</table>

<div style="float:right">
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>
