<h2>Benjamin table</h1>


<div class="resulttable">
  <table border=1>
  <tr>
    <th>Date</th>
<<<<<<< HEAD
    <th>Wakeup</th>
    <th>Wentsleep</th>
    <th>Neg.</th>
    <th>Eff.</th>
=======
    <th>Wakeuptime</th>
    <th>Wentsleeptime</th>
    <th>Negotiations</th>
    <th>Efficiencies</th>
>>>>>>> b48fe46c18e6a88324bbddcb2791363159e5b7ad
  </tr>
 

  <% @posts.each do |post| %>
   <tr>
     <td><%= post.publishdate %></td>
     <td><%= "#{post.wakeuptime.hour}:#{post.wakeuptime.min}" %></td>
     <td><%= "#{post.wentsleeptime.hour}:#{post.wentsleeptime.min}" %> </td>
     <td align="center"><%= post.negotiations %></td>
     <td align="center"><%= post.efficiencies %></td>
   </tr>
  <% end %>

  </table>
</div> <!--resulttable-->
<br>

