<!DOCTYPE html>
<html>
<head>
  <title>The Vit's blog</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all, :cache => true %>
    <%= stylesheet_link_tag 'markitup/style' %>
    <%= stylesheet_link_tag 'textile/style' %>
<%= csrf_meta_tag %>
  <script language="javascript" type="text/javascript">
    $(function() {
      $('.content').truncate({max_length: 124});
    });
  </script>

<script type="text/javascript" >
   $(document).ready(function() {
      $("textarea").markItUp(mySettings);
   });
</script>

  <style type="text/css">
    table { border-collapse: collapse; }
    td, th { border: 1px solid #000; }
  </style>

</head>
<body>
    <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
<!--header-->
<span style="font-size:2.2em; font-weight:bold;"><a href="/">The Vit's blog:</a></span>
<div style="float:right"> 
	<a href="/posts/1">Об этом блоге/About this blog</a>&nbsp;&nbsp;&nbsp;<a href="/posts/13">Обо мне/About me</a>&nbsp;&nbsp;&nbsp;<a href="/table">Табличка/Table</a>&nbsp;&nbsp;&nbsp;<a href="/contact_us">Контакт/Contact</a>&nbsp;&nbsp;&nbsp;</div></span>
<hr  class="hr1">
<!--//header-->
<%= yield %>
<!--banner field-->
<hr class="hr2">
<p>
<img src="/banners/christianity.jpg" alt="" title="Христианин" width="100" height="100" style="float: left; margin: 3px;">
<img src="/banners/kiev-gerb0.gif" alt="Город-герой Киев" title="Я живу в городе Киеве" width="100" height="100" style="float: left; margin: 3px;">
<img src="/banners/ruby.png" alt="Ruby on Rails" title="Этот сайт разрабатывается на Ruby on Rails" width="100" height="100" style="float: left; margin: 3px;" >
<a href="/go/ium"><img src="/banners/IYM.png"  alt="Институт Юрия Мороза" title="Я учусь в институте Юрия Мороза" width="100" height="100" style="float: right; margin: 3px;"></a>
</p>
<br />
<br />
<p><a href="/go/ium">Учусь в институте Юрия Мороза</a></p> 
<!--img src="/banners/kiev.jpg">
<img src="/banners/kiev-gerb.jpg"-->
<dif style="float:right">
<!-- Yandex.Metrika informer --><a href="http://metrika.yandex.ru/stat/?id=9841732&amp;from=informer" target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/9841732/3_0_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:9841732,type:0,lang:'ru'});return false}catch(e){}"/></a><!-- /Yandex.Metrika informer --><!-- Yandex.Metrika counter --><div style="display:none;"><script type="text/javascript">(function(w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter9841732 = new Ya.Metrika({id:9841732, enableAll: true}); } catch(e) { } }); })(window, "yandex_metrika_callbacks");</script></div><script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script><noscript><div><img src="//mc.yandex.ru/watch/9841732" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
</div>
</body>
</html>
